/*Debug Bar*/
body{margin-bottom:50px;}
#dbg_bar *{
	box-sizing:border-box;	
}
#dbg_bar [class*=fa-]{	
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color:#777;
}

#dbg_bar{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;	
	padding: 0;
	z-index:99999; /*Greater than wp-admin sidebar*/
}
#debug-bar-resize{
	height: 10px;
	width: 100%;
	background-color: white;
	cursor: move;	
}

#debug-bar-resize:active,#debug-bar-resize:hover{
	background-color:#007fac;
}

#dbg_bar .tabs{	
	visibility:visible;
	background: rgba(255,255,255,0.8);
	padding: 0px 10px 0 0;
	margin:0;
	text-align:left;
	width:100%;
}
#dbg_bar .tabs li:not(.right){
	border-right:1px solid black;
	position:relative;	
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
	line-height: 36px;
	font-weight: normal;
	color: #999;
	background: #F2F2F2;
	border: solid #ddd;
	border-width: 1px 1px 0;
	border-radius: 5px 5px 0 0;
	padding-bottom: 0;
	bottom: auto;	
	border-top: 4px solid transparent;
}
#dbg_bar .tabs li.current{background-color:#fcfcfc;}

#dbg_bar .tabs li:not(.right):hover{
	background:#ebebeb;
}
#dbg_bar .tabs li{
	display:inline-block;
	color:#555;
	text-decoration:none;
	margin-bottom:0;
}
#dbg_bar .tabs li.current{
	background-color:white;
	color:blue;
	border-top: 4px solid #4cc8f1;
}
#dbg_bar .tabs li.right{
	float:right;
	padding: 0 5px;
}

#dbg_bar .tabs a{
	font-size:16px;
	text-decoration:none;
	display:inline-block;
	width:100%;
	height:100%;
	padding:0 10px;
	color:black;
}



#dbg_bar .dbg_body{background:white;height:	200px;overflow-y:scroll;}
#dbg_bar .dbg_body .panel{display: none;padding:15px;}
#dbg_bar .dbg_body .panel.active{display:block;}
#dbg_bar .panel > table{width:100%;}
#dbg_bar .panel > table td{padding:5px;text-align:left;}
#dbg_bar .panel > table{width:100%;border-collapse:collapse;}
#dbg_bar table thead th{
	font-weight:bold;
	text-align:left;
	padding:3px;
}
#dbg_bar th{font-weight:bold;text-align:left;}
#dbg_bar th.hdr{
	font-weight:bold;
	background-color:black;
	color:white;
	text-align:center;
}
#dbg_bar tbody tr:nth-child(even){background-color:#f2f2f2;}
#dbg_bar thead th{background:black;color:white;}



.dbg_body code.sql{
	display:block;
	background-color:rgb(20, 20, 20);
	border-radius:3px;
	color:white;
	padding:10px;
	line-height:1.5em;
}
#dbg_bar .qry{width:70%;}
#dbg_bar .dbg_body .mn{color:#c0392b;}
#dbg_bar .dbg_body .op{color:#f1c40f;}
#dbg_bar .dbg_body .cnd{color:#2980b9;}
#dbg_bar .dbg_body .int{color:#2980b9;}
#dbg_bar .dbg_body .str{color:#2ecc71}
#dbg_bar h3{text-align:center;color:#2980b9;margin:20px;font-size:1.4em;}
#dbg_bar .dbg_out td{padding:3px;}

#dbg_files > ul li{display:inline-block;}

#dbg_files .file-WP-Core{color:blue;}
#dbg_files .file-WP-Includes{color:orange}
#dbg_files .file-Plugin{color:purple}
#dbg_files .file-Theme{color:orange}
#dbg_files .file-Other{color:red;}
#dbg_bar ol{list-style:decimal;}


#dbg_bar .tabs .bdg{
	background-color:blue;
	color:white;
	font-size:0.7em;
	display: inline-block;
	min-width: 10px;
	padding: 5px 10px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #777;
	border-radius: 10px;	
	
}

/*
#dbg_bar .tabs .right .bdg::before{
	content: ' ';
	display:inline-block;
	position 	:relative;
	left 		:-19px;
	border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid red;
	transform: rotate(180deg);
}
*/

#dbg_bar .tabs .bdg.left{border-radius: 0 10px 10px 10px;}
#dbg_bar .tabs .right .bdg{border-radius: 10px 10px 10px 0px;}


#dbg_bar .bgBlue{background-color:#3498db !important;}
#dbg_bar .bgRed{background-color:#e74c3c !important;}
#dbg_bar .bgGreen{background-color:#2ecc71 !important;}
#dbg_bar .bgPurple{background-color:#9b59b6 !important;}
#dbg_bar .bgYellow{background-color:#f1c40f !important;}
#dbg_bar .bgOrange{background-color:#e67e22 !important;}
#dbg_bar .bgDark{background-color:#2c3e50 !important;}



#dbg_bar .time{margin-right:10px;}
#dbg_bar .stats{transition: all .2s ease-in-out;cursor:pointer;margin-top:10px;}
#dbg_bar .stats:hover{transform: scale(1.5);}



