#wp_system_info {
	font-size:1.2em;
	line-height:1.5em;
	width:100%;
	border-collapse:collapse;
	table-layout: fixed
}

/* Negate padding from wp */
.wp_system_info{
	margin-left:-12px;
	margin-right:-12px;
	margin-top:-11px;
}
#wp_system_info .hdr{background-color:#222;text-align:center;}
#wp_system_info .hdr h2{color:white;}
#wp_system_info tbody tr:nth-child(odd){background-color:rgba(0,0,0,0.05);}
#wp_system_info td,#wp_system_info th:not(.hdr){padding:5px;}

#wp_system_info th{text-align:left;}
#wp_system_info td{word-wrap:break-word;}
#wp_system_info progress{width:90%;margin:0 auto;}
#wp_system_info meter{
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;	
	border-radius: 3px;
	width:90% !important;
}

#wp_system_info .breakword{word-break: break-word;}

.wp_system_info .bottom{height:2em;}
.wp_system_info .bottom a{float:left:}
.wp_system_info .bottom span{float:right;}






